.UserAlbums__title {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.UserAlbums {
    padding: 20px;
    display: flex;
    overflow-x: scroll;
    margin-bottom: 40px;
    background: white;
    border-radius: 20px;
}