.Header {
    background: #7D80FA;
    height: 144px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 15px 10px rgba(0,0,0,0.2);
    position: relative;
    z-index: 2;
}